body {
    font-family: monospace;
    background-color: lavender;
    display:flex;
    flex-direction:column;
    justify-content: center;
}

header {
    width: 70%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: skyblue;
    margin-bottom: 30px;
}

img {
    height: 150px;
}

h1 {
    padding: 10px; 
}

main {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5%;
}

#review {
    width: 400px;
}