body {
    background-color: lavender;
    font-family: monospace;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 70%;
    height: 150px;
    background-color: skyblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    height: 150px;
}

main {
width: 60%;
}

input[type="text"] {
    width: 400px;
}