body{
    font-family: monospace;
    background-color: lavender;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    width: 70%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    margin-bottom: 30px;
    padding: 10px;
    background-color: skyblue;
}

header > img{
    height: 150px;
}

header > h1{
    height: 150px;
}

main{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
input[type="text"]{
    width:  400px;
}