body{
    background-color: lavender;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 150px;
    background-color: skyblue;
    margin:10px 30px 10px 10px; 
}

main{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#app-title{
    display: flex;
    align-items: center;
}
#text-input{
    width: 400px;
}

#movie-title-select{
width: 200px;
}